/* =============
  Section-6
============= */
#section-6 {
    background-image: url('../img/section-6/Map.png');
    background-size: cover;
    background-position: center;
    height: 400px;
    
    @include md {
        height: 572px;
    }
     @include lg {
        height: 572px;
    }
   
 }