/* =============
   Section-3
============= */
 
#section-3 {
 
    
    @include xl {
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". section-3 .";
    }
  
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". section-3 .";
  
    @include md {
        margin-bottom: -60px;
    }
  
    background-image: url("../img/section-3/Side.jpg");
    background-position: center;
    background-size: cover;
    height: 777px;
  
    @include md {
        height: 459px;
        //grid-template-columns: 10% auto 10%;
    }
     @include lg {
        height: 460px;
    }
 
    
    #section-3-container {
        grid-area: section-3;
        position: relative;
        z-index: 500;
  
  
        @include md {
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas:
                "when price";
            gap: 50px;
        }
  
        .color-overlay {
            width: 100%;
            height: 100%;
            background: $black;
            opacity: 40%;
            position: absolute;
      
            @include md {
                height: 459px;
            }
      
            @include lg {
                height: 460px;
            }
    
        }
     
     
  
        #section-3-when {
            text-align: center;
            margin: 20px;
  
  
            h1 {
                font-size: rem-calc(31);
                color: $white;
  
                @include md {
                    font-size: rem-calc(42);
                }
            }
  
            h3 {
                font-size: rem-calc(14);
                color: $white;
                line-height: rem-calc(40);
                font-weight: 400;
  
                @include md {
                    font-size: rem-calc(16);
                    line-height: rem-calc(50);
  
                    span {
                        font-weight: 700;
                        
                    }
                }
  
                @include lg {
                    font-size: rem-calc(18);
                    line-height: rem-calc(50);
                }
            }
  
            @include md {
                grid-area: when;
                margin: 0;
                
            }
        }
  
        #section-3-price {
            text-align: center;
  
            @include md {
                
                grid-area: price;
                margin-left: -40px;
            }
  
            h1 {
                font-size: rem-calc(31);
                color: $white;
  
                @include md {
                    font-size: rem-calc(42);
                }
            }
  
            h3 {
                font-size: rem-calc(14);
                color: $white;
                line-height: rem-calc(33);
                font-weight: 400;
  
                span {
                    font-weight: 700;
                }
  
                @include md {
                    font-size: rem-calc(16);
                    line-height: rem-calc(37);
                }
  
                @include lg {
                    font-size: rem-calc(18);
                    line-height: rem-calc(37);
                }
            }
  
  
        }
  

    }
  
 }
 
 