/* =============
  Section-5
============= */
#section-5 {
    background-image: url('../img/section-5/Ford.jpg');
    background-size: cover;
    background-position: center;
    height: 273px;

     @include md {
        height: 273px;
    }
     @include lg {
        height: 379px;
    }
   
 }
 